@layout("lxc-dash: where's that damned container?") {

<div class="row">
    <div ng-repeat="(state, containers) in curHost.containers">
        <div class="col-sm-6 col-md-4" ng-repeat="container in containers">
            <div class="thumbnail">
                <!-- TODO: on mouse over always show container name -->
                <h4>{{container.name}}</h4>
                <h3><span id="cpugraph-{{container.name | dot2Uscore}}"></span> <span class="memgraph-{{container.name | dot2Uscore}}"></span></h3>
                <span class="label label-{{state | stateToLabel}}">{{state}}</span>
                <span class="label label-default">{{container.ip || "no ip"}}</span>
                <span class="label label-default">{{container.hostname || "no hostname"}}</span>
            </div>
        </div>
    </div>
</div>
}
