@layout("Hello Play Akka Angular WebSocket") {
<div class="jumbotron" ng-controller="HostsController">
  <div class="container">
    <div class="col-sm-12">
      <h1>
          <ul>
              <li class="host" ng-repeat="(host, containerList) in hosts">
                  {{host}}
                  <ul class="state" ng-repeat="(state, containers) in containerList">
                      {{state}}
                      <li class="container" ng-repeat="container in containers">
                          {{container}}
                      </li>
                   </ul>
              </li>
          </ul>
      </h1>
    </div>

  </div>
</div>
}
